$fondos-path: "../../assets/images/fondos/";

.lv-404 {
  background-image: linear-gradient($blue, white);

  header {
    height: 4em;
  }

  main {
    height: calc(100vh - 4em);
    min-height: unset;
    background: url($fondos-path + "bg-404.webp") no-repeat center fixed;
    background-size: cover;

    section {
      height: 100%;
    }
  }
}